<div>
  <el-button type="success" plain @click="dialogAddCat=true">添加分类</el-button>
  <!-- 分类列表展示 -->
  <template>
    <el-table
      :data="categorieseData"
      stripe
      style="width: 100%"
      v-loading="loading">
      <el-table-tree-column
        :indent-size="30"
        level-key="cat_level"
        parent-key="cat_pid"
        tree-key="cat_id"
        prop="cat_name"
        label="分类名称"
        width="180">
      </el-table-tree-column>
      <el-table-column
        prop="cat_deleted"
        label="是否有效"
        width="180">
        <template slot-scope="scope">
          {{ scope.row.cat_deleted?'否':'是' }}
        </template>
      </el-table-column>
      <el-table-column
        prop="cat_level"
        label="层级">
      </el-table-column>
      <el-table-column
        label="操作">
        <template slot-scope="scope">
          <el-button icon="el-icon-edit" size="mini" type="primary" plain></el-button>
          <el-button icon="el-icon-delete" size="mini" type="danger" plain></el-button>
        </template>
      </el-table-column>
      <el-table-column>
      </el-table-column>
    </el-table>
  </template>
  <!-- 分页展示 -->
  <el-pagination
    background
    layout="prev, pager, next"
    :total="cateTotal"
    :page-size="5"
    @current-change="currentPage">
  </el-pagination>
  <!-- 添加分类对话框 -->
  <el-dialog title="添加分类" :visible.sync="dialogAddCat">
      <el-form :model="AddCatForm" label-width="80px">
        <el-form-item label="分类名称">
          <el-input v-model="AddCatForm.cat_name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="父级名称">
            <el-cascader
              :props="{label:'cat_name', value:'cat_id'}"
              :options="cateFormTwo"
              :change-on-select='true'
              v-model="AddCatForm.cat_id_arr">
            </el-cascader>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogAddCat = false">取 消</el-button>
        <el-button type="primary" @click="addCategories">确 定</el-button>
      </div>
    </el-dialog>
</div>
